body{
    font-family: 'Roboto';
    height: 200vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.header{
    background-color: #1F2937;
    margin: 0;
    padding: 32px 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
}

.body{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.rect1{
    background-color: #1F2937;
    margin: 0;
    padding: 32px 320px;
    display: flex;
    flex: 1;
}

.rect1 .left-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
}

.rect1 .right-box{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    flex: 2;
}

.left-box .rect-title{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.rect1 img{
    border-radius: 25px;
    background-color: #1F2937;
    width: 300px;
}

p{
    font-size: 18px;
    color: #E5E7EB;
}

.rect1 .sign-up-button{
    margin: 0;
    padding: 7px 23px;
    font-size: 18px;
    background-color: #3882F6;
    border: 12px solid #3882F6;
    border-radius: 12px;
    border-width: 1px;
    color: white;
}

.rect2 .title{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    padding-bottom: 32px;
}

.listings{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.rect2{
    padding: 32px 416px;
    flex: 1;
}

.rect2 img{
    border-radius: 25px;
    background-color: white;
    max-width: 200px;
}

.card{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.card-text{
    color: #1F2937;
}

.rect3{
    padding: 32px 416px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.testimonial{
    margin: 0;
    padding: 0;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
}

.author{
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 900;
    color: #1F2937;
    display: flex;
    justify-content: flex-end;
}

.rect4{
    padding: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.horizontal-banner{
    margin: 0;
    padding: 32px 128px;
    background-color: #3882F6;
    border-radius: 16px;
    display: flex;
    gap: 128px;
}

.rect4 .left-box{
    color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.rect4 .right-box{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.rect4 .sign-up-button{
    margin: 0;
    padding: 7px 23px;
    font-size: 24px;
    background-color: #3882F6;
    border: 12px solid #3882F6;
    border-radius: 12px;
    color: white;
    border-color: white;
    border-width: 1px;
}

.banner-title{
    font-size: 32px;
    font-weight: 500;
}

.banner-text{
    font-size: 24px;
}

.footer{
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 32px 320px;
    display: flex;
    justify-content: center;
    align-items: space-evenly;
    flex-shrink: 0;
}